WebContent/wsdl/WelcomeServlet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:tns1="http://http.servlet.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://http.servlet.javax"/>
   <element name="doPost">
    <complexType>
     <sequence>
      <element name="request" type="xsd:anyType"/>
      <element name="response" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="doPostResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doPostRequest">

      <wsdl:part element="impl:doPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doPostResponse">

      <wsdl:part element="impl:doPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WelcomeServlet">

      <wsdl:operation name="doPost">

         <wsdl:input message="impl:doPostRequest" name="doPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:doPostResponse" name="doPostResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WelcomeServletSoapBinding" type="impl:WelcomeServlet">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WelcomeServletService">

      <wsdl:port binding="impl:WelcomeServletSoapBinding" name="WelcomeServlet">

         <wsdlsoap:address location="http://localhost:8080/DemoProject/services/WelcomeServlet"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
